.hero {
   text-align: center;
   background-color: #2f303a;
   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 400px;
   width: 100%;
   margin: 0 auto;
   padding: 118px 0;

   @media (min-device-pixel-ratio: 2),
   (-webkit-min-device-pixel-ratio: 2),
   (min-resolution: 192dpi),
   (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/Hero-2x.jpg);
   }

   @include tab {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-big-img.jpg);

      @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
         background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../img/hero/hero-big-2x-img.jpg);
      }
   }

   @include desk {
      padding: 200px 0;
      max-width: 1600px;
   }

   &__title {
      margin: 0 0 30px;
   }
}