.container {
    width: 100%;
    padding: 0 15px 0;
    margin: 0 auto;

    @include mob {
        width: 480px;
    }

    @include tab {
        width: 768px;
    }

    @include desk {
        width: 1200px;
    }
}