p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
}



img,
picture {
    display: block;
    height: auto;
    width: 100%;
    max-width: 100%;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

button {
    border: transparent;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
}