$timing-function-hover-focus: cubic-bezier(0.4, 0, 0.2, 1);
$timing-function-modal: cubic-bezier(0.4, 0, 0.2, 1);
$timing-function-portfolio-text-img: cubic-bezier(0.4, 0, 0.2, 1);
$timing-function-mini-modal: cubic-bezier(0.4, 0, 0.2, 1);
$duration-hover-focus: 250ms;
$duration-modal: 250ms;
$duration-portfolio-text-img: 250ms;
$duration-mini-modal: 250ms;