.button {
   width: 200px;
   flex-shrink: 0;
   height: 50px;
   background-color: #2196F3;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;

   transition: background $duration-hover-focus $timing-function-hover-focus;

   &:focus,
   &:hover {
      background: #188ce8;
   }

   &__icon {
      margin: 0 0 0 10px;
   }
}