.button-modal {
  display: inline-flex;
  width: 40px;
  height: 40px;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-left: auto;

  &__icon {
    fill: #212121;
    transition: fill $duration-hover-focus $timing-function-hover-focus;

    // &:hover,
    // &:focus {
    //   fill: #2196f3;
    // }

    .button-modal:hover &,
    .button-modal:focus & {
      fill: #2196f3
    }
  }
}

.button-modal--none {
  @include tab {
    display: none;
  }
}